
#mainNav {
    background-color: rgb(31, 31, 31);
    font-weight: 300;
  }
  
#mainNav a
{
   color : whitesmoke;
   text-transform: uppercase;
}

#mainNav ul
{
  margin : 0;
  padding: 0;
  list-style: none;
}
#mainNav li
{
  display: inline-block;
  margin-left: 70px;
}

#mainNav .nav-link:active
{
   color :#cf2331;
}

.navbar-nav > .active > a {
  color :rgb(0, 132, 255);
  border-bottom: 0.1rem solid #cf2331;    
}

#mainNav .nav-link:hover
{
  color :#cf2331;
  border-bottom: 0.1rem solid #cf2331;
}
  
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #cf2331;
  border: 1px solid #cf2331;
}

  
  
  .masthead {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 80%, #161616 100%), url("img/Header - Copie.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  
  .masthead h1 {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(whitesmoke, white);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
  }
  
  .text-white
  {
    border: 0;
  }
  
  .text-white-50
  {
    color:whitesmoke !important;
  }
  
  .text-black
  {
    border: 0;
    border-bottom: 0.1rem solid #cf2331; 
    width:98%;
  }
  
  @media (min-width: 768px) {
    .masthead h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0;
    }
    .masthead h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    .masthead h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
  
  #Slogan {
    color : 	#FFFFE0;
    font-family:'Calligraffitti';
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
  }

  .masthead #Slogan:hover 
  {
    border-bottom: 0.01rem solid #cf2331; 
  }


  .btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
  }
  
  .btn-primary {
    background-color: #cf2331 ;
  }
  
  .btn-primary:hover {
    background-color: #cf2331 ;
  }
  
  .btn-primary:focus {
    background-color: #cf2331 ;
    color: white;
  }
  
  .btn-primary:active {
    background-color: #cf2331 !important;
  }
  

  .header{
    color:whitesmoke;
    position: relative;
    width: auto;
    height: auto;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 90%, #161616 100%), url("img/Header - Copie.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .header h2{
    border-bottom: 0.01rem #cf2331;
    
  }

  .about-section {
    padding-top: 5rem;
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
  }
  
  .about-section p {
    margin-bottom: 5rem;
  }
  
  .text-white 
  {
    border : 0;
    border-bottom: 0.1rem solid #cf2331;
  }
  
#but-div ul{
  color : whitesmoke;
}

#mainfooter
{
  background-color: rgb(31, 31, 31);
  font-weight: 300;
}



.gallery-container {
  position: relative;
  width: 100%;
  border-width: 2px;
  border-color: purple;
  border-style: solid;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
  cursor: pointer;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
}

.gallery-container:hover .overlay {
  height: 50px; 
}

.text {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  color: #414141;
  font-weight: bold;
}

.text .small{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  line-height: 1.3em;  
  color: #999999;
}


